.repos {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: max-content;

  &__repo {
    @include acrylic-background-black;
    display: flex;
    padding: 10px;
    margin: 3px;
    width: 30%;
    font-family: "Selawik Regular";
    font-size: rem(20px);
    line-height: rem(24px);
    color: #ccc;
    text-decoration: none;
    transition-duration: 0.3s;
    position: relative;
    display: flex;
    flex-direction: column;
    height: max-content;

    &_name {
      transition-duration: 0.3s;
    }

    &_description {
      font-family: "Selawik Regular";
      font-size: rem(14px);
      line-height: rem(20px);
      margin-top: 10px;
      flex-grow: 100;
    }

    &:hover {
      border: 1px solid #6e6e6e;
    }
  }
}
