.Education {
  display: flex;
  width: 100%;

  &__image-block {
    display: block;
    max-width: 140px;
    width: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;

    margin: 0 10px 10px;
    margin-left: 30px;
    width: 100%;

    &_school {
      font-family: "Selawik Regular";
      font-size: rem(20px);
      line-height: rem(24px);
      font-weight: normal;
    }

    &_degree-field {
      display: flex;
      align-items: center;
      margin: 3px 0;

      font-family: "Selawik Semibold";
      font-size: rem(14px);
      line-height: rem(20px);
      font-weight: normal;
      width: 100%;

      i {
        font-size: 0.4rem;
        margin: 0 9px;
        margin-top: 3px;
        margin-bottom: 2px;
        line-height: 0.75rem;
      }
    }

    &_period {
      font-family: "Selawik Regular";
      font-size: rem(14px);
      line-height: rem(20px);
      font-weight: normal;
    }
  }
}
