@font-face {
  font-family: "Selawik Regular";
  src: url("../fonts/selawik/selawk.ttf");
}

@font-face {
  font-family: "Selawik Light";
  src: url("../fonts/selawik/selawkl.ttf");
}

@font-face {
  font-family: "Selawik Semilight";
  src: url("../fonts/selawik/selawksl.ttf");
}

@font-face {
  font-family: "Selawik Semibold";
  src: url("../fonts/selawik/selawksb.ttf");
}
