.post {
  display: flex;

  &-page {
    $margin-top-bottom: 10px;

    margin: $margin-top-bottom 13px;
    font-weight: 400;
    overflow-y: auto;
    width: 100%;
    height: calc(#{$content-height} - #{$margin-top-bottom} * 2);

    &__title {
      font-family: "Selawik Semilight";
      font-size: rem(24px);
      line-height: rem(28px);
      font-weight: normal;
      color: #fff;
    }

    &__content {
      color: $text-color;
      margin: 20px 15px 15px 0;

      p,
      ol {
        font-family: "Selawik Regular";
        font-size: rem(16px);
        line-height: rem(20px);
        font-weight: normal;
        overflow-wrap: break-word;
        margin: 9px 0;
      }

      ol,
      ul {
        list-style-position: inside;
      }

      blockquote {
        border-left: 2px green solid;
        padding-left: 10px;
        box-sizing: border-box;
      }

      .vscode-highlight {
        margin: 9px 0;
      }

      h1 {
        font-family: "Selawik Light";
        font-size: rem(46px);
        line-height: rem(56px);
        font-weight: normal;
      }

      h2 {
        font-family: "Selawik Light";
        font-size: rem(34px);
        line-height: rem(40px);
        font-weight: normal;
      }

      h3 {
        font-family: "Selawik Semilight";
        font-size: rem(24px);
        line-height: rem(28px);
        font-weight: normal;
      }

      h4 {
        font-family: "Selawik Regular";
        font-size: rem(20px);
        line-height: rem(24px);
        font-weight: normal;
      }

      h5 {
        font-family: "Selawik Semibold";
        font-size: rem(14px);
        line-height: rem(20px);
        font-weight: normal;
      }

      h6 {
        font-family: "Selawik Regular";
        font-size: rem(14px);
        line-height: rem(20px);
        font-weight: normal;
      }
    }

    &__details {
      display: flex;
      font-family: "Selawik Regular";
      font-size: rem(12px);
      line-height: rem(14px);
      font-weight: normal;
      margin-top: 9px;
      color: #fff;
      opacity: 0.6;

      &_item {
        display: flex;
        align-items: center;

        .mi {
          margin-bottom: 2px;
          font-size: rem(12px);
          line-height: rem(12px);
          margin: 0 9px;
        }

        .mi-CircleRingBadge12 {
          font-size: 0.4rem;
          margin-top: 3px;
        }
      }
    }
  }
}
