* {
  padding: 0;
  margin: 0;
}

@import "~sass-rem";
@import "./variables";
@import "./fonts";
@import "./mixins";
@import "../components/Sidebar/style";
@import "../components/Content/style";
@import "../components/PostsList/style";
@import "../components/SkillsCrircle/style";
@import "../components/GitHubRepo/style";
@import "../components/Hello/style";
@import "../components/Preloader/style";
@import "../components/ShareBlock/style";
@import "../components/Skill/style";
@import "../components/Job/style";
@import "../components/Education/style";

@import "./posts";

.app {
  // background-color: #262626;
  background: url(//www.bing.com/th?id=OHR.BubbleNebula_EN-US5338454782_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=HpEdgeAn);

  min-height: 100vmin;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: Consolas, "Courier New", monospace;

  .page {
    display: flex;

    h2 {
      margin-bottom: 7px;
    }
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #262626;

    height: $content-height;
  }

  .blog {
    display: flex;

    &__list {
      margin: 7px 0 7px 7px;
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      &_item {
        @include acrylic-background-black;
        transition-duration: 0.4s;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: max-content;
        max-width: 380px;
        height: 232px;
        overflow: hidden;
        font-size: 1.22rem;
        box-sizing: border-box;
        margin: 0 0.4rem;
        padding: 16px 1rem;
        text-decoration: none;
        cursor: pointer;

        &_title {
          font-family: "Selawik Semilight";
          font-size: rem(24px);
          line-height: rem(28px);
          color: #fff;
        }

        &_short {
          font-family: "Selawik Regular";
          font-size: rem(20px);
          line-height: rem(24px);
          color: #ccc;
          margin-top: 8px;
          flex-grow: 100;
        }

        &_date {
          font-family: "Selawik Semibold";
          font-size: rem(14px);
          line-height: rem(20px);
          color: #ccc;
        }

        &:hover {
          border: 1px solid #6e6e6e;
        }
      }
    }
  }

  .post {
    background-color: #262626;
  }

  .github {
    position: relative;
    // background-color: #262626;

    .PostsList .post-link {
      font-family: "Selawik Semibold";
      font-size: rem(14px);
      line-height: rem(20px);
    }

    .user_info {
      $padding: 10px;
      $margin: 7px;

      @include acrylic-background-black;
      padding: $padding;
      display: flex;
      flex-direction: column;
      margin: $margin 0 $margin $margin;
      height: calc(#{$content-height} - #{$margin} * 2 - #{$padding} * 2);
      overflow-y: auto;

      .info {
        display: flex;

        span {
          display: flex;

          i {
            margin-right: 10px;
          }
        }

        &_avatar {
          width: 100%;
          max-width: 250px;
          border-radius: 3px;
        }

        &_user {
          display: flex;
          flex-direction: column;
          margin-left: 20px;

          &_login {
            font-family: "Selawik Semilight";
            font-size: rem(24px);
            line-height: rem(28px);
            font-weight: normal;
            margin-bottom: 5px;
            text-decoration: none;
          }

          &_name {
            font-family: "Selawik Regular";
            font-size: rem(20px);
            line-height: rem(24px);
            margin-bottom: 10px;
            color: #ccc;
            opacity: 0.7;
          }

          &_at {
            display: flex;
            line-height: 1rem;
            margin: 3px 0;
            color: #ccc;

            i {
              line-height: rem(20px);
            }

            &_date {
              font-family: "Selawik Semibold";
              font-size: rem(14px);
              line-height: rem(20px);
            }

            &_text {
              font-family: "Selawik Regular";
              font-size: rem(14px);
              line-height: rem(20px);
              margin-left: 5px;
            }
          }
        }
      }

      .repos-block {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        .repos_head {
          display: flex;
          align-items: center;
          font-weight: normal;
          margin-bottom: 5px;
          font-family: "Selawik Semilight";
          font-size: rem(24px);
          line-height: rem(28px);

          &_repo-count {
            font-size: 0.7rem;
            line-height: 0.7rem;
            margin-left: 10px;
            border: 1px solid #d4d4d4;
            box-sizing: border-box;
            padding: 2px 4px;
          }
        }
      }
    }

    .repo_info {
      $padding: 10px;
      $margin: 7px;

      @include acrylic-background-black;
      display: flex;
      flex-direction: column;
      padding: $padding;
      margin: $margin 0 $margin $margin;
      height: calc(#{$content-height} - #{$margin} * 2 - #{$padding} * 2);
      overflow-y: auto;
      position: relative;

      &_close {
        display: flex;
        align-items: center;
        width: 20px;
        height: 20px;
        font-size: 1.1rem;
        margin-right: 15px;
        color: #ccc;
        transition-duration: 0.3s;
        cursor: pointer;

        &:hover {
          color: #fff;
        }
      }

      &_head {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        align-items: center;

        &_avatar {
          $avatar-size: 28px;
          width: $avatar-size;
          height: $avatar-size;
          border-radius: 50%;
          margin-right: 10px;
        }
      }

      details {
        margin: 5px 0;

        summary {
          font-family: "Selawik Regular";
          font-size: rem(20px);
          line-height: rem(24px);
          margin: 5px 0;
          cursor: pointer;

          &:active,
          &:focus {
            outline: none;
          }
        }
      }

      details[open] summary ~ * {
        animation: sweep 0.3s;
      }

      @keyframes sweep {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      &_name {
        font-family: "Selawik Semilight";
        font-size: rem(24px);
        line-height: rem(28px);
        color: $text-color;
        text-decoration: none;

        &:hover {
          color: #fff;
        }
      }

      &_text {
        display: flex;
        font-family: "Selawik Regular";
        font-size: rem(14px);
        line-height: rem(20px);

        &_label {
          color: #9cdcfe;
        }

        &_value {
          margin-left: 5px;
          color: #b5cea8;
        }

        &_at {
          margin: 10px 0;
        }
      }

      &_languages-commits-chart {
        display: flex;
      }

      &_languages-commits {
        max-width: 50%;
      }

      &_languages {
        display: flex;
        flex-direction: column;

        &_title {
          color: #569cd6;
        }

        &-list {
          list-style: none;
          padding-left: 15px;
          margin-left: 2px;
          box-sizing: border-box;
          border-left: 3px solid #587c0c;

          &_item {
            font-family: "Selawik Regular";
            font-size: rem(14px);
            line-height: rem(20px);

            &_name {
              color: #9cdcfe;
            }

            &_size {
              color: #b5cea8;
              margin: 0 5px;
            }

            &_percent {
              color: #c586c0;
              margin-left: 5px;
            }
          }
        }
      }

      &_commits {
        display: flex;
        flex-direction: column;

        &_title {
          color: #569cd6;
        }

        &-list {
          list-style: none;
          overflow-y: auto;
          padding-left: 15px;
          margin-left: 2px;
          box-sizing: border-box;
          border-left: 3px solid #587c0c;

          &_item {
            &_date {
              font-family: "Selawik Regular";
              font-size: rem(14px);
              line-height: rem(20px);
              color: #9cdcfe;
            }

            &_msg {
              font-family: "Selawik Regular";
              font-size: rem(14px);
              line-height: rem(20px);
              color: #ce9178;
              margin-left: 5px;
            }
          }
        }
      }

      &_chart {
        display: flex;
        max-width: 30%;
        width: 100%;
        margin: 10px 0;
        position: relative;
      }
    }

    &-preload {
      position: absolute;
      right: 20px;
      top: 0;
    }

    .opacity-animation-enter {
      opacity: 0;
    }
    .opacity-animation-enter-active {
      opacity: 1;
      transition: opacity 1000ms;
    }
    .opacity-animation-exit {
      opacity: 1;
    }
    .opacity-animation-exit-active {
      opacity: 0;
      transition: opacity 1000ms;
    }
  }

  .about {
    position: relative;

    &_info {
      $padding: 10px;

      background-color: #262626;
      padding: $padding;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: calc(#{$content-height} - #{$padding} * 2);
      overflow-y: auto;

      &__container {
        display: flex;
        flex-direction: column;
        margin: 15px 0;

        &:first-child {
          margin-top: 0;
        }

        &_title {
          flex: 1 1 10%;
        }

        &_description {
          flex: 1 1 90%;
          display: flex;
          flex-wrap: wrap;

          &_skill {
            width: 100%;
            margin-bottom: 20px;
            margin-right: 60px;

            .skills_lists {
              display: flex;
              width: 100%;

              ol {
                width: 100%;
                margin-top: 3px;
                list-style: none;
                display: flex;
                flex-wrap: wrap;

                li {
                  margin-bottom: 10px;
                  margin-right: 25px;
                  width: 30%;
                }
              }
            }
          }

          &_jobs {
            display: flex;
            flex-wrap: wrap;
            margin-top: 12px;

            &_job {
              max-width: 40%;
              min-width: 600px;
              width: 100%;
              margin-bottom: 20px;
            }
          }
        }

        h2 {
          font-family: "Selawik Semilight";
          font-size: rem(24px);
          line-height: rem(28px);
          font-weight: normal;
        }

        h3 {
          margin: 3px 0;
          font-family: "Selawik Regular";
          font-size: rem(20px);
          line-height: rem(24px);
          font-weight: normal;
        }

        h4 {
          margin: 3px 0;
          font-family: "Selawik Semibold";
          font-size: rem(14px);
          line-height: rem(20px);
          font-weight: normal;
        }

        p {
          font-family: "Selawik Regular";
          font-size: rem(14px);
          line-height: rem(20px);
          font-weight: normal;
        }
      }
    }

    &__aside {
      border: 1px solid #000;
      display: flex;
      flex-direction: column;
      padding: 10px;
      box-sizing: border-box;

      &_head {
        display: flex;
        flex-direction: column;
        align-items: center;

        &_img {
          $size: 80px;

          max-width: $size;
          width: 100%;
          height: $size;

          display: flex;
          align-items: center;
          justify-content: center;

          font-size: 2.5rem;

          background-color: #5d5a58;
          border-radius: 50%;
        }

        &_name-work {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-left: 10px;

          &_name {
            font-family: "Selawik Semilight";
            font-size: rem(24px);
            line-height: rem(28px);
          }

          &_work {
            font-family: "Selawik Semibold";
            font-size: rem(14px);
            line-height: rem(20px);
          }
        }
      }

      &_details {
        margin: 10px 0;

        &_item {
          &_title {
            font-family: "Selawik Semibold";
            font-size: rem(14px);
            line-height: rem(20px);
          }

          &_value {
            font-family: "Selawik Regular";
            font-size: rem(14px);
            line-height: rem(20px);
            margin-left: 5px;
          }
        }
      }

      &_social {
        display: flex;
        justify-content: center;

        &_link {
          font-size: 1.4rem;
          margin: 0 7px;
          color: inherit;
          transition-duration: 0.3s;

          &:hover {
            color: rgb(177, 177, 177);
          }
        }
      }
    }
  }

  .projects {
    &-container {
      width: 100%;
      background-color: #262626;

      &__list {
        height: 100%;
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        &_empty {
          $color: #000;

          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: max-content;
          font-size: 3rem;
          font-family: "Selawik Regular";
          color: $color;

          .EmptyBox_img {
            fill: $color;
            width: 170px;
          }
        }
      }
    }
  }

  .posts-list {
    max-width: 300px;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .f-d-center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .f-column {
    flex-direction: column;
  }

  .pauseAnim {
    animation-play-state: paused;
  }

  .d-block {
    display: block;
  }

  .d-none {
    display: none;
  }
}
