.ShareBlock {
  display: flex;

  .mail {
    font-size: 1.5rem;
    opacity: 0.4;
    filter: grayscale(80%);
    transition: 0.3s;
    color: #fff;

    &:hover {
      opacity: 1;
      filter: grayscale(0%);
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 4px;
    border: none;
    font-size: 3rem;
    width: 35px;
    height: 35px;
    margin-right: 4px;
    text-decoration: none;
    cursor: pointer;

    &_svg-fill {
      width: 100%;
      opacity: 0.4;
      filter: grayscale(80%);
      transition: 0.3s;

      &:hover {
        opacity: 1;
        filter: grayscale(0%);
      }
    }
  }
}
