.PostsList {
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  width: 100%;
  max-width: 250px;
  min-width: 200px;
  height: $content-height;
  overflow: auto;

  .post-link {
    cursor: pointer;
    padding: 0 8px;
    color: $text-color;
    text-decoration: none;
    height: 60px;
    background-color: #333333;
    border: 1px solid #000;
    border-bottom: none;
    font-size: 0.825rem;
    line-height: 1.4rem;
    display: flex;
    align-items: center;
    position: relative;
    transition-duration: 0.2s;

    &:last-child {
      border-bottom: 1px solid #000;
    }

    &:hover {
      background-color: #000;
      color: #fff;
    }

    &-text {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &-detail {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    &-title {
      font-family: "Selawik Semibold";
      font-size: rem(14px);
      line-height: rem(20px);
    }

    &-short {
      font-family: "Selawik Regular";
      font-size: rem(10px);
      line-height: rem(20px);
    }

    &-date {
      font-family: "Selawik Regular";
      font-size: rem(10px);
      line-height: rem(20px);
      opacity: 0.7;
    }

    &-icon {
      margin: 0 12px 0 0;
      font-size: 1rem;
      display: flex;
      align-items: center;
    }
  }

  .page {
    padding: 0 8px;
    color: $text-color;
    max-height: 60px;
    min-height: 60px;
    border: 1px solid #000;
    border-bottom: none;
    display: flex;
    align-items: center;

    &-text {
      display: flex;
      align-items: center;
      width: 100%;
    }

    &-icon {
      display: flex;
      align-items: center;
      margin: 2px 8px 0 0;
      font-size: rem(20px);
    }

    &-title {
      font-family: "Selawik Semilight";
      font-size: rem(24px);
      line-height: rem(24px);
    }
  }

  .active {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 2px;
    height: 80%;
    background-color: rgb(21, 89, 135);
  }
}
